main{
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: powderblue;
    margin: 30px auto;
}
.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px;
    border-bottom: 1px solid grey;
}
.inner button{
    background-color: red;
    color: #fff;
    border-radius: 6px;
    border: none;
}